.projects h1 {
  padding: 0.5rem 0;
  font-family: Calistoga, Inter, Tahoma;
  font-size: 2.7rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.projects main {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}
