.resume-btn {
  white-space: nowrap;
  display: block;
  border-radius: calc(var(--radius) - 2px);
  background-color: var(--primary);
  color: var(--primary-foreground);
  width: min-content;
  padding: 0.75rem 1rem;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  transition: background-color var(--transition-timing);
}

.resume-btn:hover {
  background-color: var(--primary-hover);
}

.resume-btn span {
  font-size: 1.1rem;
  vertical-align: middle;
}
